#wrapper
  .row
    .small-12.columns
      .questions-container
        .row
          - @questions.each do |question|
            .small-2.columns
              .post-stats-container.index
                .vote-total
                  %h3= question.votes.map {|vote| vote.score}.inject(:+)
                  .vote-total-label
                    %h3 Votes
                .answer-total
                  %h3= question.answers.length
                  .answer-total-label
                    %h3 Answers
            .small-10.columns
              .post-container.index
                .post-title.index
                  %h1= link_to("#{question.title}", question_path(question))
                .row
                  .small-6.columns
                    .post-details.index
                      %h4 Tags Tags Tags
                  .small-6.columns
                    .post-signature-user.index
                      %h3 By #{question.user.first_name} #{question.user.last_name} #{question.created_at}
                  
            

-# %script{ id: 'questions-tpl', type: 'text/x-handlebars-template'}
-#   %h3 Questions
-#   {{#questions}}
-#   .question-container.index{ id: 'question-{{ id }}', value: '{{ id }}'}
-#     -# %h3 {{{ title }}}
-#     %p {{{ content }}}
-#     .question-user.index{ id: 'user-{{ id }}', value: '{{ id }}'}
-#       -# %p {{user.first_name}}
-#   {{/questions}}
