#wrapper
  .row
    .small-2.columns
    .small-8.small-centered.columns
      .questions-container
        - @questions.each do |question|
          .index-question-container
            .index-question-title 
              %h1= link_to("#{question.title}", question_path(question))
            .index-question-user
              %h2= question.user.first_name
              %h3= question.user.ga_course
            %button.more-content More
            .index-question-content
              %p= raw question.content
          -#   %p= question.user 
    .small-2.columns

-# %script{ id: 'questions-tpl', type: 'text/x-handlebars-template'}
-#   %h3 Questions
-#   {{#questions}}
-#   .question-container.index{ id: 'question-{{ id }}', value: '{{ id }}'}
-#     -# %h3 {{{ title }}}
-#     %p {{{ content }}}
-#     .question-user.index{ id: 'user-{{ id }}', value: '{{ id }}'}
-#       -# %p {{user.first_name}}
-#   {{/questions}}
