
.row
  .small-12.columns
    .questions-container
    - unless @questions.empty?
      - @questions.each do |question|
        .question-wrapper
          .row
            .small-2.columns
              %ul.post-stats-container.index
                %li.stat-box.want-answer
                  - if (question.votes.length == 0)
                    .total 0
                    .vote-total-label Want Answer
                  - else
                    .total= question.votes.map {|vote| vote.score}.inject(:+)
                    .vote-total-label Want Answer
                %li.stat-box-answers
                  .total= question.answers.length
                  .answer-total-label Answers
                %li.stat-box-views
                  .total= question.viewed
                  .viewed-total-label Views 
            .small-10.columns
              .post-container.index
                .post-title.index
                  %h1= link_to("#{question.title}", question_path(question))
                .row
                  .small-6.columns
                    .post-details.index
                    - question.tag_list.each do |tag|
                      %ul.post-tags
                        %li= tag
                  .small-6.columns
                    .post-signature-user.index
                      %h3 By #{question.user.first_name} #{question.user.last_name} #{question.created_at}
    -else
      %h3 No results
                  
            

-# %script{ id: 'questions-tpl', type: 'text/x-handlebars-template'}
-#   %h3 Questions
-#   {{#questions}}
-#   .question-container.index{ id: 'question-{{ id }}', value: '{{ id }}'}
-#     -# %h3 {{{ title }}}
-#     %p {{{ content }}}
-#     .question-user.index{ id: 'user-{{ id }}', value: '{{ id }}'}
-#       -# %p {{user.first_name}}
-#   {{/questions}}
