#wrapper
  .row
    .small-12.columns
      .questions-container
        .row
          - @questions.each do |question|
            .small-2.columns
              .index-question-stats
                .vote-total
                  %h3= question.votes.map {|vote| vote.score}.inject(:+)
                  %h3 Votes
            .small-10.columns
              .question-container.index
                .question-title.index
                  %h1= link_to("#{question.title}", question_path(question))
                .question-details.index
                  .row
                    .small-6.columns
                      .question-tags.index
                        %h4 Tags Tags Tags
                    .small-6.columns
                      .question-user.index
                        .user-image
                        .ul.user-details
                          %li.user-name
                            %h2= question.user.first_name
                          %li.user-course
                            %h3= question.user.ga_course.upcase
                            %h3= question.user.location
                          %li.submit-date
                            %h3= "Submitted on #{question.created_at}"
                .index-question-content
                  %p= raw question.content
            

-# %script{ id: 'questions-tpl', type: 'text/x-handlebars-template'}
-#   %h3 Questions
-#   {{#questions}}
-#   .question-container.index{ id: 'question-{{ id }}', value: '{{ id }}'}
-#     -# %h3 {{{ title }}}
-#     %p {{{ content }}}
-#     .question-user.index{ id: 'user-{{ id }}', value: '{{ id }}'}
-#       -# %p {{user.first_name}}
-#   {{/questions}}
