%h1 Questions#new
%p Find me in app/views/questions/new.html.haml
.editor
  = form_for @question do |f|
    -# = f.hidden_field :user_id, current_user.id
    = f.label :title
    = f.text_field :title
    = f.cktext_area :content, rows: 10
    = f.button