!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "GA Open Forum"
    = Gon::Base.render_data({})
    %link{:href => "http://fonts.googleapis.com/css?family=Varela+Round", :rel => "stylesheet", :type => "text/css"}/
    %link{ href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{ href:'http://fonts.googleapis.com/css?family=Montserrat:400,700', :rel=>'stylesheet', :type=>'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700', :rel=>'stylesheet', :type=>'text/css' }
    %link{ :rel=>"shortcut icon", :type=>"image/x-icon", :href=>"https://s3-eu-west-1.amazonaws.com/wdi11-final-project/images/ga_open_forum_favicon.ico" }
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
  %body{ class: "#{controller_name} #{action_name}" }
    %nav.top-bar#mastead{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %h1
            %li= link_to(image_tag('https://s3-eu-west-1.amazonaws.com/wdi11-final-project/images/ga_logo.png', class:'ga-logo'), root_path)
        
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          - if user_signed_in?
            %li.has-dropdown
              %a{:href => "#"}
                -# = image_tag('https://s3-eu-west-1.amazonaws.com/wdi11-final-project/images/ga_account_icon.svg', class:'ga-account')
              %ul.dropdown
                %li= link_to 'Logout', destroy_user_session_path, :method => :delete
                %li.active= link_to 'MY ACCOUNT', user_path(current_user)
          - else
            %ul
              %li
                %a{"data-reveal-id" => "deviseLoginsModal", :href => "#"} Login
                
              %li.active= link_to 'Register', new_user_registration_path
             
    .main-container
      #wrapper
        #sub-top-bar
          %ul.heading
            %li.app-title
              %h1= link_to 'OPEN FORUM', questions_path
            %li.search-container
              #search-field
                = form_tag('/search', method: :get) do
                  = text_field_tag :q, nil, :placeholder => 'Search'  
            %li
              %a.button.small.add-question{"data-reveal-id" => "addQuestionModal", :href => "#"} Add Question 
      -# %p.notice= notice
      -# %p.alert= alert
      
      = yield
    
      #addQuestionModal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "add-question", "data-reveal" => "", :role => "dialog"}

        = render 'questions/new'

        %a.close-reveal-modal{"aria-label" => "Close"} x

      #deviseLoginsModal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "devise-logins", "data-reveal" => "", :role => "dialog"}

        = render 'devise/sessions/new'        

        %a.close-reveal-modal{"aria-label" => "Close"} x