!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    %link{:href => "http://fonts.googleapis.com/css?family=Varela+Round", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    %script{:src => "ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"}
    = csrf_meta_tags
    
  %body{ class: "#{controller_name} #{action_name}", :name => "#{current_user.id}"}
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %h1
            %li= link_to(image_tag('https://s3-eu-west-1.amazonaws.com/wdi11-final-project/images/ga_logo.png', class:'ga-logo'), root_path)
        
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li= link_to 'Logout', destroy_user_session_path, :method => :delete
        
          - if user_signed_in?
            %li.has-dropdown
              %a{:href => "#"}
                = image_tag('https://s3-eu-west-1.amazonaws.com/wdi11-final-project/images/ga_account_icon.svg', class:'ga-account')
              %ul.dropdown
                %li= link_to 'Logout', destroy_user_session_path, :method => :delete
                %li.active= link_to 'MY ACCOUNT', user_path(current_user)
          - else
            %ul
              %li= link_to 'Login', new_user_session_path
              %li.active= link_to 'Register', new_user_registration_path
             
    #main-container      
      %p.notice= notice
      %p.alert= alert
      = yield